<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <form method="GET" action="/team">
     <% @params.each do |p| %>
     <h2><%= p %></h2>
     <% end %>
   </form>
 </body>
</html>
