<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team name: <%= @team %>
   <% @params.each do |k,v| %>
    <h1><%= @k = v %></h1>
  <% end %>
 </body>
</html>
